{% extends "template.html" %}

{% block title %}Auto-coder Feedback{% endblock %}

{% block header %}
<h1>Auto-coder Feedback: <span id="fid"></span></h1>

{% endblock %}

{% block body %}


<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-warning">Auto-Coder Feedback Form</div>
            <div class="card-body">
                <div class="card">
                    <div class="card-header"><span id="code-header"></span>
                    </div>
                    <div class="card-body">
                        <h2>Source Text</h2>
                        <span id="context"></span>
                    </div>
                    <div class="card-body">
                        <h2>Extracted Text</h2>
                        <span id="extracted"></span>
                    </div>
                    <div class="card-footer">
                        <div id="view-code-info" class="btn btn-sm btn-primary float-right">
                            📘 View Code Info 
                        </div>
                    </div>
                </div>
                
        
            <form method="POST" action="{{ url_for('notes.code_feedback', id=id) }}">
        
            {{ form.csrf_token }}
            
        
            {{ render_field(form.is_correct) }}

            <div id="wrong-div" style="display: block;">
            {{ render_field(form.remove_or_replace) }}
            <div id="remove-div" style="display:none;">{{ render_field(form.replace_with) }}</div>
            </div>

            {{ render_field(form.requires_additional_code) }}
            <div id="additional-code-div" style="display:none;">
            {{ render_field(form.additional_codes) }}
            </div>

            {{ render_field(form.comments) }}
            </div>
            <div class="card-footer">
                {{ render_field(form.submit) }}
            </form>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div id="go-back" class="btn btn-lg btn-success full-width">
            Go Back To Note
        </div>
        <div class="card">
            <div class="card-header">
                Feedback History
            </div>
            <ul class="list-group list-group-flush" id="auto-coder-confirmation-list-group">
                <li class="list-group-item" id="auto-coder-confirmation-none">None</li>
              </ul>
        </div>

    </div>
</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/taginput.js') }}"></script>
<script src="{{ url_for('static', filename='js/feedback/view.js') }}"></script>
{% endblock %}