{% macro render_field(field) %}
<div class="col-12">
    {% if field.type in ["StringField", "PasswordField", "TextAreaField"] %}
        <label for="" class="form-label">{{ field.label }}:</label>
        {{ field(class='form-control', **kwargs)|safe }}
    {% elif field.type in ["BooleanField"] %}
    <div class="form-check">
        {{ field(class='form-check-input', **kwargs)|safe }}
        <label class="form-check-label" for="{{ field.id }}">
          {{ field.label }}
        </label>
      </div>
    {% elif field.type == "SubmitField" %}
        <hr class="my-4">
        {{ field(class='form-control btn-primary btn-lg', **kwargs)|safe }}
    {% endif %}
</div>
{% endmacro %}