{% from "./macros.html" import render_field %}

<html lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/svg" href="{{ url_for('static', filename='images/favicon.svg') }}">

    <title>{% block title %} {% endblock %} : CLIVSECO</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    {% block head %}
    {% endblock %}

    <link
    href="{{ url_for('static', filename='css/global.css') }}"
    rel="stylesheet">
<head>

<body class="d-flex flex-column h-100">

    
  <header>
    <!-- Fixed navbar -->
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
      <div class="container">
        <a class="navbar-brand" href="{{ url_for('notes.home') }}">
          CLIVSECOβ
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% if current_user.is_authenticated %}
        <div class="collapse navbar-collapse" id="navbarCollapse">
          <ul class="navbar-nav me-auto mb-2 mb-md-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('notes.home') }}">📝 Notes</a>
            </li>

            <div class="collapse navbar-collapse" id="navbarNavDarkDropdown">
              <ul class="navbar-nav">
                <li class="nav-item dropdown">
                  <a class="nav-link active dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    ⚡️ Random Document by Specialty
                  </a>
                  <ul class="dropdown-menu" aria-labelledby="navbarDarkDropdownMenuLink">
                    {% for spec in spec_maps %}
                    <li><a class="dropdown-item" href="{{ url_for('notes.get_random_code', spec=spec) }}">{{ spec }}</a></li>
                    {% endfor %}
                  </ul>
                </li>
              </ul>
            </div>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('notes.find_note') }}">🔍 Find Document</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{{ url_for('notes.code_feedback_index') }}">👓 View Feedback</a>
            </li>
          </ul>
          <div class="d-flex">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link">
                  <div class="btn btn-danger" id="toggledyslexic">Dyslexia Support</div>
                </a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="{{ url_for('auth.logout') }}">
                  <div class="btn btn-light">
                    <span id="nadex">{{ current_user.username }}</span>
                </div>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% else %}
      <div class="d-flex">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item">
            <a class="nav-link">
              <div class="btn btn-danger" id="toggledyslexic">Dyslexia Support</div>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="{{ url_for('auth.login') }}">
              <div class="btn btn-light">
                Log In
            </div>
            </a>
          </li>
        </ul>
      </div>
      {% endif %}
    </nav>
  </header>
  
    <div id="jph" class="jumbotron jumbotron-header">
      <div class="container">
      {% block header %}
      {% endblock %}
    </div>
  </div>

      <main role="main" class="container">
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
          {{ message }}
        </div>
        {% endfor %}
        {% endif %}
  
        {%endwith%}

        {% block body %}
        {% endblock %}

      </main>

      <footer class="footer mt-auto py-5 bg-light">
        
        <div class="container">
          <div class="row">
            <div class="col-6 col-md">
              <img src="{{ url_for('static', filename='images/ctuhb.png') }}" width="300px" />
              <p class="text-muted small">CLIVSECO was developed for internal use within Cwm Taf University Health Board.</p>
            </div>
            <div class="col-6 col-md">
              <h5>Resources</h5>
              <ul class="list-unstyled text-small">
                <li><a class="text-muted" 
                        href="https://github.com/KeironO/CLIVSECO/issues"
                        target="_blank">Report a Problem</a></li>
                        <li><a class="text-muted" href="mailto:keiron.oshea@wales.nhs.uk?subject=CLIVSECO"
                          target="_blank">Annoy Keiron</a></li>
                <li><a class="text-muted" href="https://github.com/KeironO/CLIVSECO/"
                        target="_blank">Source
                        Code</a></li>
            </ul>
            </div>
          </div>
          
        </div>
      </footer>
      

      <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.8.0/chart.min.js" integrity="sha512-sW/w8s4RWTdFFSduOTGtk4isV1+190E/GghVffMA9XczdJ2MDzSzLEubKAs5h0wzgSJOQTRYyaz73L3d6RtJSg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
      <script src="https://www.virtuosoft.eu/code/bootstrap-duallistbox/bootstrap-duallistbox/v3.0.2/jquery.bootstrap-duallistbox.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/sortablejs@latest/Sortable.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/jquery-sortablejs@latest/jquery-sortable.js"></script>
      <script src="{{ url_for('static', filename='js/global.js') }}"></script>

      {% block javascript %}
      {% endblock %}
    </body>

</html>
