.navbar {
    height:65px;
    padding:0px;
    margin-bottom: 2em;
}

.navbar img {
    height:28px;
    
}


.container {
    max-width: 1280px;
}

h1 {
    font-size:24px;
    font-weight: normal;
    line-height: 30px;
    padding-bottom: 15px;
    border-style: none none solid none;
    border-width: 0 0 1 0;
}

.card {
    margin-bottom: 2em;
}

.full-width {
    width: 100%;
    margin-bottom: 1em;
}

.highlight {
    background-color: #fff3cd;
    padding: 0.2em;
    border:1px solid #ffecb5;
    color: #664d03;
}