{% extends "template.html" %}
{% block title %}News @ CLIVSECO{% endblock %}




{% block body %}

<div class="card" style="max-width:900px;margin:0 auto 0; padding:1rem;font-family:Times, serif; margin-bottom: 3em !important;">
    <div class="row">
        <div class="col-7">35p</div>
        <div class="col-5" style="text-align: end;">{{news.created_on}}</div>
        <hr style="border:1px solid red !important;">
    </div>
    <p style="text-align: center;font-size: 3em; font-weight: bold; padding:0em; margin:0;">The CLIVSECO Daily</p>
    <hr style="border:1px solid black !important;">
    <p style="font-weight: bold;font-size: 2em;">{{news.title}}</p>
    <p>{{ news.news.replace('\n', '<br/>') |safe }}</p>

</div>


{% endblock %}