{% extends "template.html" %}
{% block title %}Find Document {% endblock %}
{% block body %}
<h1>Find Document</h1>
<form method="POST" action="{{ url_for('notes.find_note') }}">
    {{ form.csrf_token }}
    <div class='row'>
        <div class='col-6'>
            {{ render_field(form.caseno) }}
        </div>
        <div class='col-6'>
            {{ render_field(form.linkid) }}
        </div>
    </div>


    {% if found|length > 0 %}

    <div class="card">
        <div class="card-header card-primary text-white bg-primary">
            Results ({{ found|length }} found)
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">CASENO</th>
                    <th scope="col">WPAS_LINKID</th>
                    <th scope="col">EP#</th>
                    <th scope="col">Admitting Speciality</th>
                    <th scope="col">Admission Date</th>
                    <th scope="col">Discharge Date</th>
                    <th scope="col">Correct</th>
                    <th scope="col">Link</th>
                    </tr>
                </thead>
                <tbody>
                    
                    {% for note in found %}
                        <tr>
                            <td>{{ note['m_number'] }}</td>
                            <td>{{ note['linkid'] }}</td>
                            <td>{{ note['episode_count'] }}</td>
                            <td>{{ note['admission_spec'] }}</td>
                            <td>{{ note['admission_date'] }}</td>
                            <td>{{ note['discharge_date'] }}</td>
                            <td>{{ note['checked'] }}</td>
                            <td>
                                <a href="{{ url_for('notes.code', caseno=note['m_number'], linkid=note['linkid']) }}">
                                <div class='btn btn-sm btn-success full-width'>
                                    Go
                                </div>
                                </a>
                            </td>
                        </tr>
                    {% endfor %}
        
                </tbody>
            </table>
        </div>
    </div>


  

    {% else %}
        <div class="alert alert-warning">
            No results found
        </div>

    {% endif %}
    {{ render_field(form.submit) }}

    
</form>
{% endblock %}