{% extends "template.html" %}

{% block title %}Loading Document{%endblock%}

{% block body %}


<div id="loading" class="align-middle text-center">

  <h1>Loading Document</h1>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status" style="margin-top:2em;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div id="content" class="row" style="display: none;">
  <div  id="clinical-code-col">
    <div class="col-3">
      
      <div class="card">
        <div class="card-header">
          🧍 Clinical Coder
        </div>
        <ul class="list-group list-group-flush" id="clinical-coder-list-group">
          <li class="list-group-item" id="clinical-coder-none">None</li>
        </ul>
      </div>
    </div>
  </div>
    <div class="col-6" id="note-information-col">

      
      <h1 id="note-heading" class="text-center">{{ caseno }}:{{ linkid }}</h1>


      <div class="card">
        <div class="card-header bg-danger text-white">
          Demographic and Case Information
        </div>
        <div class="card-body card-text">
          <div class="row" style="margin-bottom: 1em;">
            <div class="col-6">
              <p>👶 <b>Age on Admission:</b> <span id="age"></span></p>
              <p>📅 <b>Admitted/Discharged On:</b> <span id="admission-date"></span> / <span id="discharge-date"></span></p>
              <p>➡️ <b>Admission Spec:</b> <span id="admission-spec"></span></p>
              <p>🔢 <b>Episode Count:</b> <span id="episode-count"></span></p>
            </div>
            <div class="col-6" style="text-align: right;">
              <p>👩‍⚕️ <b>M Number:</b> <span id="m-number"></span></p>
              <p>📅 <b>Length Of Stay:</b> <span id="los"></span> day(s) </p>
              <p>⬅️ <b>Discharge Spec:</b> <span id="discharge-spec"></span></p>
              <p>🧑 <b>Biological Sex:</b> <span id="discharge-spec">U</span></p>
            </div>
          </div>
        </div>
      </div>




      <ul class="nav nav-tabs" style="margin-bottom:1em; margin-top:1em;" id="nav-tab-selection">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" id="dal-nav">🖥️ eDAL</a>
        </li>
      </ul>
      

      <div id="cls" style="display:none;">
        <div class="card">
          <div class="card-header bg-primary text-white">
            ✉️ Clinic Letter: <span id="clinical-letter-key"></span>
          </div>
          <div class="card-body card-text" id="letter-text"></div>
        </div>
      </div>

      <div id="edal">


        <div class='card'>
          <div class='card-header bg-warning'>
            🖥️ eDAL: <span id="edal-unique-id"></span>
          </div>
          <div class='card-body'>
              <h2>Presenting Complaint</h2>
              <div id="presenting-complaint-text"></div>
              <h2>Clinical Finding</h2>
              <div id="clinical-finding-text"></div>
              <h2>Treatment Narrative</h2>
              <div id="treatment-narrative-text"></div>
              <h2>Allergy</h2>
              <div id="allergy-text"></div>
              <h2>Discharge Diagnosis One</h2>
              <div id="discharge-diagnosis-1-text"></div>
              <h2>Discharge Diagnosis Two</h2>
              <div id="discharge-diagnosis-2-text"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-3" id="auto-code-row">
      <div class="btn btn-lg btn-success full-width disabled" >
        Submit Codes to WPAS
      </div>

      <div class="card">
        <div class="card-header">
          🤖 Auto Coder
        </div>
        <ul class="list-group list-group-flush" id="auto-coder-list-group">
          <li class="list-group-item" id="auto-coder-none">None</li>
        </ul>
        <div class="card-footer">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-secondary full-width" data-bs-toggle="modal" data-bs-target="#additional-codes-modal">Add Missing Code</button>
        </div>
      </div>

      <div class="card">
        <div class="card-header">
          Key
        </div>
        <ul class="list-group list-group-flush">
          <li class='list-group-item d-flex justify-content-between'>✨ Comorbidity</li>
          <li class='list-group-item d-flex justify-content-between'>🛌🏼 Past Medical History</li>
          <li class='list-group-item d-flex justify-content-between'>👵 Family History Of</li>
          <li class='list-group-item d-flex justify-content-between'>🎈 From Acronym</li>
          <li class='list-group-item d-flex justify-content-between'>👨🏼‍⚕️ From Diagnosis</li>
        </ul>
      </div>

 

<div class="card">
  <div class="card-header">Missing Codes</div>
  <ul class="list-group list-group-flush" id="missing-codes-list-group">
    <li class="list-group-item" id="missing-codes-none">None</li>
  </ul>
</div>

<!-- Modal -->
<div class="modal fade" id="additional-codes-modal" tabindex="-1" aria-labelledby="additional-codes-label" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="additional-codes-label">Add Missing Codes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{{ url_for('notes.code', caseno=caseno, linkid=linkid) }}">

        {{ form.csrf_token }}
        {{ render_field(form.section) }}

        <div id="additional-codes-text">
          Test
        </div>

        <div class="row">
          <div class="col-6">
            {{ render_field(form.start) }}
          </div>
          <div class="col-6">
            {{ render_field(form.end) }}
          </div>
        </div>
        {{ render_field(form.type) }}
        {{ render_field(form.additional_codes) }}
        {{ render_field(form.comorbidity) }}
        {{ render_field(form.submit) }}
      </div>
    </form>
    </div>
  </div>
</div>

</div>

{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/taginput.js') }}"></script>
<script src="{{ url_for('static', filename='js/note.js') }}"></script>

{% endblock %}