{% extends "template.html" %}

{% block title %}Loading DAL{%endblock%}

{% block body %}


<div id="loading" class="align-middle text-center">

  <h1>Loading DAL</h1>
  <div class="d-flex justify-content-center">
    <div class="spinner-grow text-primary" role="status" style="margin-top:2em;">
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>

<div id="content" class="row" style="display: none;">
    <div class="col-3">
      
      <div class="card">
        <div class="card-header">
          Clinical Coder
        </div>
        <ul class="list-group list-group-flush" id="clinical-coder-list-group">
          <li class="list-group-item" id="clinical-coder-none">None</li>
        </ul>
      </div>
    </div>
    <div class="col-6">
      <h1 id="note-heading">{{ note["dal_id"] }}</h1>
      <div class="row" style="margin-bottom: 1em;">
        <div class="col-6">
          📅 Admission Date: <span id="admission-date"></span>
        </div>
        <div class="col-6" style="text-align: right;">
          📅 Discharge Date: <span id="discharge-date"></span>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg-dark text-white">
          Presenting Complaint
        </div>
        <div class="card-body card-text" id="presenting-complaint-text">
          
        </div>
      </div>
        <div class="card">
            <div class="card-header">
              Clinical Finding
            </div>
            <div class="card-body card-text" id="clinical-finding-text">

            </div>
          </div>


          <div class="card">
            <div class="card-header bg-success text-white">
                Treatment Narrative
            </div>
            <div class="card-body card-text" id="treatment-narrative-text">

            </div>
          </div>

          <div class="card">
            <div class="card-header bg-danger text-white">
                Allergy
            </div>
            <div class="card-body card-text" id="allergy-text">
            </div>
          </div>


            <div class="card">
                <div class="card-header bg-primary text-white">
                    Discharge Diagnoses
                </div>
                <div class="card-body card-text" id="discharge-diagnoses-text">

                </div>
            </div>



    </div>
    <div class="col-3">
      <div class="card">
        <div class="card-header">
          Auto Coder
        </div>
        <ul class="list-group list-group-flush" id="auto-coder-list-group">
          <li class="list-group-item" id="auto-coder-none">None</li>
        </ul>
      </div>

      <div class="card">
        <div class="card-header">
          Key
        </div>
        <ul class="list-group list-group-flush">
          <li class='list-group-item d-flex justify-content-between'>✨ Comorbidity</li>
        </ul>
      </div>

        <div class="card">
          <div class="card-header">
            Auto Coder Filters
          </div>
          <div class="card-body">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="presenting-complaint-checkbox" checked>
        <label class="form-check-label" for="presenting-complaint-checkbox">
          Presenting Complaint
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="clinical-finding-checkbox" checked>
        <label class="form-check-label" for="clinical-finding-checkbox">
          Clinical Finding
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="treatment-narrative-checkbox" checked>
        <label class="form-check-label" for="treatment-narrative-checkbox">
          Treatment Narrative
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="allergy-checkbox" checked>
        <label class="form-check-label" for="allergy-checkbox">
          Allergy
        </label>
      </div>
      <div class="form-check">
        <input class="form-check-input" type="checkbox" value="" id="discharge-diagnosis-checkbox" checked>
        <label class="form-check-label" for="discharge-diagnosis-checkbox">
          Discharge Diagnosis
        </label>
      </div>
    </div>
</div>
</div>



{% endblock %}

{% block javascript %}
<script src="{{ url_for('static', filename='js/note.js') }}"></script>


{% endblock %}