{% extends "template.html" %}

{% block title %}Auto-coder Feedback Index{% endblock %}

{% block head %}
<link href="https://cdn.datatables.net/1.11.5/css/dataTables.bootstrap4.min.css" rel="stylesheet">
{% endblock %}


{% block body %}
<h1>Feedback Index</h1>

<table id="myTable" class="table table-striped" style="width:100%">
    <thead>
        <tr>
            <th>DAL Unique ID</th>
            <th>Position</th>
            <th>Comorbidity</th>
            <th>Code</th>
            <th>Is Correct</th>
            <th>Replace</th>

            <th>Reviewed By</th>
        </tr>
    </thead>
    <tbody>
        
    </tbody>
</table>

{% endblock %}


{% block javascript %}
<script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.5/js/dataTables.bootstrap4.min.js"></script>

<script>
$(document).ready( function () {
    $('#myTable').DataTable();
} );
</script>

{% endblock %}