<configuration>  
  <system.webServer>
    <handlers>
        <add name="CLIVSECO" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Users\CTM_SY_Ke267079\.conda\envs\clivseco-py36\python.exe|C:\Users\CTM_SY_Ke267079\.conda\envs\clivseco-py36\lib\site-packages\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
    </handlers>
        <httpErrors errorMode="Detailed" />
  </system.webServer>
  <system.web>
    <customErrors mode="On">
    </customErrors>
  </system.web>
  <appSettings>
    <add key="WSGI_HANDLER" value="run.app" /> <!-- {name_of_file}.{name_of_flask_app}-->
    <add key="PYTHONPATH" value="C:\inetpub\wwwroot\CLIVSECO\web" />
	<add key="WSGI_LOG" value="C:\inetpub\wwwroot\CLIVSECO\web\app.log" />
  </appSettings>
</configuration>  